[submodule ".vim/bundle/L9"]
	path = .vim/bundle/L9
	url = https://github.com/vim-scripts/L9
[submodule ".vim/bundle/vim-trailing-whitespace"]
	path = .vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/powerline
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule ".vim/bundle/vim-autoclose"]
	path = .vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose
[submodule ".vim/bundle/rainbow_parentheses.vim"]
	path = .vim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule ".vim/bundle/Emmet.vim"]
	path = .vim/bundle/Emmet.vim
	url = https://github.com/vim-scripts/Emmet.vim
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule ".vim/bundle/FuzzyFinder"]
	path = .vim/bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder
[submodule ".vim/bundle/webapi-vim"]
	path = .vim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim
[submodule ".vim/bundle/gist-vim"]
	path = .vim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim
[submodule ".vim/bundle/neocomplete.vim"]
	path = .vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule ".vim/bundle/neosnippet.vim"]
	path = .vim/bundle/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim
[submodule ".vim/bundle/neosnippet-snippets"]
	path = .vim/bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule ".vim/bundle/vim-colorschemes"]
	path = .vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule ".vim/bundle/vim-latex"]
	path = .vim/bundle/vim-latex
	url = https://github.com/jcf/vim-latex
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/tmuxline.vim"]
	path = .vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule ".vim/bundle/gundo.vim"]
	path = .vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim
[submodule ".vim/bundle/Dockerfile.vim"]
	path = .vim/bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule ".vim/bundle/vim-pandoc"]
	path = .vim/bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc
[submodule ".vim/bundle/vim-pandoc-syntax"]
	path = .vim/bundle/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax
